html {
    background-color: #d5caf0;
}

header {
    display: flex;
    font-size: 10px;
}

#logo {
    max-width: 70px;
    max-height: 60px;
}

h1 {
    margin-top: 17px;
}

nav a {
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    font-size: 35px;
    margin-inline: 10px;
}

nav {
    margin-right: 30px;
    margin-top: 15px;
}

