html {
    background-color: #d5caf0;
}

header {
    display: flex;
    font-size: 10px;
}

#logo {
    max-width: 70px;
    max-height: 60px;
}

h1 {
    color: white;
    font-size: 20px;
    margin: 0;
}

.website {
    margin: 6px;
}

nav a {
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #d5caf0;
}

.container-right {
    display: flex;
    grow: 0;
}

.material-icons {
    font-size: 35px;
    margin-inline: 7.5px;
}

nav, button{
    margin-top: 15px;
}

button {
    background-color: white;
    box-shadow: black;
    border: none;
    max-height: 30px;
    border-radius: 8px;
    box-shadow: 01px 3px rgba(0,0,0,0.16), 01px 3px rgba(0,0,0,0.23);
    color: #bfa7f5;
    margin-right: 7px;
    margin-left: 3px;
}

footer {
    color: white;
}

.tabs {
    display: flex;
    float: left;
    margin: 20px;
    padding: 60px;
    align-items: center;
    position: relative;
    font-size: 16px;
    justify-content: flex-start;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #fff;
    background-color: #bfa7f5;
   
}

.tabs label:last-child {
    
}

.tabs input[type="radio"]:checked + label {
    background-color: #bfa7f5;
    border: 1px solid #fff;
}