@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

/* colors overall background page */
html {
    background-color: #F5F3EC;
}

/* header */
header {
    display: flex;
    font-size: 0.625rem;
}

/* body header */
.logo {
    max-width: 3.75rem;
    max-height: 3.75rem;
    padding-left: 0.313rem;
}

/* main content */
.like {
    display: inline;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
}

/* body header */
a {
    color: #4C4C47;
    text-decoration: none;
}

/* body header */
.material-icons {
    color: #4C4C47;
    font-size: 1.875rem;
    margin-inline: 0.469rem;
}

/* body */
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    align-items: center;
   
}

/* main content */
.dreamPosts {
    display: flex;
    flex-wrap: wrap;
}

/* body */
.container-right {
    display: flex;
    flex-grow: 0;
}

 /* main */
.buttons {
    margin-top: 1.875rem;
}

 /* navbar  */
nav, button {
    margin-top: 0.938rem;
}

/* body */
button {
    background-color: #fff2cc;
    border: none;
    border-radius: 0.5rem;
    height: 1.725rem;
}

/* body */
.logout {
    margin-right: 0.438rem;
    margin-left: 1.875rem;
}

/* main */
img.home-image {
    width: 30rem;
    height: auto;
    padding-left: 0.625rem;
}

/* main */
p strong .word-definiton {
    font-size: 3.125rem;
    word-wrap: break-word;
}

/* main content */
.dream-feeling {
    background-color: white;
    height: 9.375rem;
    width: 18.75rem;
    font-size: 0.75rem;
    margin-top: 1.875rem;
}

/* main content */
.enter-dream-feelings {
    padding-top: 6.25rem;
}

/* footer */
footer .attribute {
    position: fixed;
    bottom: 1.063;
    right: 0;
    font-family: 'Shantell Sans', cursive;
}

/* footer */
.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Shantell Sans', cursive;
}

/* main content */
div.container-bio {
    padding-right: 3.125rem;
    display: inline-block;
    padding-left: 1.875rem;
    position: relative;
}

/* body header */
.material-icons:hover {
    padding-bottom: 0.063rem;
    border-bottom: .2rem solid #4C4C47;
}

/* main content */
.journalButton {
    font-size: 1.063rem;
    margin-top: 0.313rem;
    margin-left: 1.25rem;
}

/* div button content */
button:hover{
    text-decoration: underline;
    color: #4C4C47;
    font-size: 0.938; 
}

/* main content */
input {
    display: block;
    margin-left: 2.5rem;
    margin-bottom: 1.875rem;
}

/* main content */
.title {
    width: 50%;
    height: 2.188rem;
}

/* main content */
.content {
    width: 80%;
    height: 28.125rem;
}

/* main content */
.image {
    width: 50%;
    height: 6.25rem;
}

/* main content */
label {
    margin-left: 2.5rem;
}

/* main content */
.dream-enter-btn {
    width: 4.375rem;
    margin-left: 0.625rem;
    font-size: 0.938r em
}

  /* body content */
  button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
    font-family: 'Shantell Sans', cursive;
    color: #4C4C47;
    font-size: 1.4rem;
}

/* dream community post icon */
.user-name.material-icons {
    color: #4C4C47;
    font-size: 2.8rem;
    margin-inline: 0.469rem;
}

/* dream community post icons */
.post-icon .material-icons {
    font-size: 1.8rem;
}

 /* dream stats */
.report-content p {
    font-size: 1.5rem;
}

/* header content */
.website h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-top: 0.438rem;
    margin-left: 0.375rem;
    font-family: 'Rubik Puddles', 'Raleway', sans-serif, cursive;
    margin: 0;
    color: #4C4C47;
}

/* main content */
h2 {
    padding-left: 1.25rem;
    font-size: 1.7rem;
    font-weight: normal;
    font-family: 'Shantell Sans', cursive;
    color: #4C4C47;
}

/* main content */
.report-container h1 {
    padding-left: 1.25rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Shantell Sans', cursive;
    color: #4C4C47;
}

/* main content */
.enter-dream-feelings {
    padding-left: 3.125rem;
    padding-right: 4.375rem;
}


/* main content */
.material-icons {
    font-size: 4.688rem;
    color: wheat;
}

/* main content */
.analyze img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* main content */
.analyze-btn {
    font-size: 1.375rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    text-align: center;
    text-decoration: none;
}

/* main content */
.analyze-btn:hover {
    text-decoration: underline;
}

/* main content */
.sharing-side .material-icons {
    color: white;
}

/* single journal */
.single-journal {
    display: flex;
    justify-content: space-around;
}

/* single journal */
.back {
    display: block;
}

/* main content */
.report-image {
    display: none;
    width: 25rem;
    height: 25rem;
}

/* profile page */
.change-btn {
    margin-left: 5px;
}

/* profile page */
.dream-profile-container {
    display: flex;
}

/* main content */
.dream-but {
    margin-left: 1.25rem;
}

/* profile status */
.status {
    width: 12.5rem;
    height: 6.25rem;
}
 
/* main content */
.report-container {
    padding-top: 3.75rem;
}

/* main content */
button, .entry, input, .analyze img, .post, .post-content img, .create-post, .dream-feeling {
    box-shadow: 0.063rem 0.188rem rgba(0,0,0,0.16), 0.063rem 0.188rem rgba(0,0,0,0.23);
    border-radius: 0.5rem;
}

/* homepage main content */
p.description, p.definition {
    inline-size: 30rem;
    overflow-wrap: break-word;
}

/* profile status */
.profile-but {
    margin-left: 1.25rem;
}

/* main content */
.tab {
    margin-left: 0.938rem;
}

/* main content */
.filter-search {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
}

/* main content */
.post, .create-post {
    background-color: white;
    width: 40rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 0.625rem;
}

/* main content */
.post .material-icons {
    margin-bottom: 1.25rem;
}

/* main content */
.user-name {
    display: inline;
    margin-top: none;
}

/* main content */
.post-text {
    margin-left: 1.875rem;
    width: 90%;
}

/* main content */
.post-icon {
    margin-left: 70%;
    margin-right: none;
}

/* main content */
.post-content {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

/* main content */
.create-post {
    width: 28.125rem;
    height: 28.125rem;
}

/* main content */
.content-create {
    width: 81%;
    height: 9.375rem;
    background-color: #F5F3EC;
}

/* main content */
.image-create {
    width: 60%;
    background-color: #F5F3EC;
    height: 6.25rem;
}

/* main content */
.post-btn {
    width: 3.125rem;
    background-color: #F5F3EC;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 0.938rem;
}


section .home-container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}  

/* profile picture */
.profile-picture {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

/* profile form */
.enter-profile {
    display: inline-block;
}

/* journal write image */
div img {
    height: 15.625rem;
    width: 15.625rem;
}

/* main content */
.entry img {
    display: none;
}

/* main content */
.entry {
    display: block;
    background-color: white;
    margin: .5rem;
    border-radius: 0.625rem;
    text-align: center;
}

/* main content */
.container-but {
    background-color: white;
    box-shadow: none;
    border-radius: none;
    margin-top: 0;
    margin-bottom: 0;
    height: fit-content;
    width: fit-content;
}

/* smaller phones */
@media (min-width: 598px) {
    /* body header */
    .logo {
        max-width: 3.5rem;
        max-height: 3.5rem;
        padding-left: 0.188rem;
    }

    /* journal image */
    .entry img {
        display: block;
    }

    /* main content */
    .entryContainer {
        margin-top: 1.875rem;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1.875rem;
        align-items: center;
    }
   
    /* dream community post box size */
    .post {
        width: 44.625rem;
    }

    /* body content */
    button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
        font-size: 1rem;
    }

    /* header content */
    .website h1 {
        font-size: 2.5rem;
        margin-top: 0.438rem;
        margin-left: 0.375rem;
        font-family: 'Rubik Puddles', 'Raleway', sans-serif, cursive;
        line-height: 1.5rem;
        color: #4C4C47;
    }

    /* main content */
    h2 {
        padding-left: 1.25rem;
        font-size: 1.3rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    }

    /* main content */
    .report-container h1 {
        padding-left: 1.25rem;
        font-size: 1.2rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    }

    /* dream community post icon */
    .user-name.material-icons {
        color: #4C4C47;
        font-size: 2.1rem;
        margin-inline: 0.469rem;
    }

    /* dream community post icons */
    .post-icon .material-icons {
        font-size: 1.4rem;
    }

    /* dream stats */
    .report-content p {
        font-size: 1rem;
    }

    /* community create post */
    form.create-post {
        width: 34.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

/* tablet size */
@media (min-width: 768px) {

    /* body content */
    div.home-container section {
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }  
    
    /* main content */
    .report-container {
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
    }

     /* main content */
     .report-image {
        display: block;
    }
    
    /* dream community post box size */
    .post {
        width: 44.625rem;
    }

     /* body header */
     .logo {
        max-width: 4.375rem;
        max-height: 4.375rem;
        padding-left: 0.188rem;
    }

    /* body content */
    button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
        font-size: 1.1rem;
    }

    /* header content */
    .website h1 {
        font-size: 2.75rem;
        margin-top: 0.438rem;
        margin-left: 0.375rem;
        font-family: 'Rubik Puddles', 'Raleway', sans-serif, cursive;
        line-height: 2.2rem;
        color: #4C4C47;
    }

    /* main content */
    h2 {
        padding-left: 1.25rem;
        font-size: 1.6rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    }

    /* main content */
    .report-container h1 {
        padding-left: 1.25rem;
        font-size: 1.5rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    }

    /* dream community post icon */
    .user-name.material-icons {
        color: #4C4C47;
        font-size: 2.1rem;
        margin-inline: 0.469rem;
    }

    /* dream community post icons */
    .post-icon .material-icons {
        font-size: 1.5rem;
    }

    /* dream stats */
    .report-content p {
        font-size: 1.1rem;
    }
}

/* desktop size */
@media (min-width: 992px) {
    /* main content */
    .dream-entry-container {
        display: flex;
        justify-content: space-between;
    }

    /* main content */
    .title {
        width: 31.25rem;
        height: 2.188rem;
    }

    /* main content */
    .content {
        width: 42.5rem;
        height: 28.125rem;
    }

    /* main content */
    .image {
        width: 21.875rem;
        height: 6.25rem;
    }
    
    /* main content */
    .enter-dream-feelings {
        padding-left: none;
    }

    /* main content */
    .view-create {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    /* dream community create post */
    .create-post {
        margin-top: 1.5rem;
    }

    /* body header */
    .logo {
        max-width: 5.625rem;
        max-height: 5.625rem;
        padding-left: 0.313rem;
    }

    /* body content */
    button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
        font-size: 1.1rem;
    }

    /* header content */
    .website h1 {
        font-size: 3rem;
        margin-top: 0.438rem;
        margin-left: 0.375rem;
        font-family: 'Rubik Puddles', 'Raleway', sans-serif, cursive;
        line-height: 2.4rem;
        color: #4C4C47;
    }

    /* main content */
    h2 {
        padding-left: 1.25rem;
        font-size: 1.875rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    }

    /* main content */
    .report-container h1 {
        padding-left: 1.25rem;
        font-size: 2.1rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    }

     /* body header */
     .material-icons {
        color: #4C4C47;
        font-size: 2.5rem;
        margin-inline: 0.469rem;
    }

    /* dream community post icons */
    .post-icon .material-icons {
        font-size: 1.9rem;
    }

    /* dream stats */
    .report-content p {
        font-size: 1.2rem;
    }

    /* community create post */
    form.create-post {
        width: 30rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    /* community posts */
    .post {
        width: 47rem;
    }
}

