@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

/* colors overall background page */
html {
    background-color: #fefefe;
}

/* page body size */
body {
    height: 100%;
}

/* navigation bar brand size and font */
.brand {
    padding-top: 1.2rem;
    font-family: 'Katibeh', cursive;   
    font-size: 43;
}

/* h2 subheading size and font */
.container-description, .profile-bio, .dream-analyze-feelings, .dream-analyze-type, .dream-write-feelings, .dream-write-type, .dream-title {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

/* h3 subheading size and font */
h3 {
    font-size: 16px;
    font-weight: normal;
    color: #adadad;
    font-family: 'Nunito', sans-serif;
}

/* h4 subheading size and font */
h4 {
    font-size: 16px;
    font-weight: normal;
    color: black;
    font-family: 'Nunito', sans-serif;
}

/* homepage subheading spacing */
.homepage-words {
    margin-bottom: 1.5rem;
}

/* homepage subheading pronunciation */
.home-word-pronunciation {
    color: #7f7f7f;
}

/* navigation bar border */
.navigation-bar {
    border-bottom: solid;
    border-color: #DADADA;
    background-color: #F5F3EC;
}

/* brand logo spacing */
.dream-logo {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

/* homepage image */
.homepage-image {
    margin-top: 1.6rem;
    width: 42.5%;
    height: auto;
    padding-left: 4rem;
}

/* homepage layout */
.home-container-root {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    align-items: center;
}

/* homepage description */
.container-description {
    padding-left: 4rem;
}

.start-button {
    width: max-content;
    height: auto;
    font-size: 18px;
}

/* general button style */
button, .start-button, .profile-button, .back-button, .journal-button, .dream-button, .dream-enter-btn, .back {
    background-color: #FDF2D0;
    color: #292927;
    border-radius: 10px;
    box-shadow: 2px 4px 2px #C2C2C2;
    border-color: #dfcd98;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
}

/* homepage description and definition */
p.home-description, p.home-definition {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

/* footer settings */
footer {
    margin-top: auto;
    text-align: center;
    padding: 48px;
    font-family: 'Inter', sans-serif;
    background-color: #292927;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

/* fixes footer to bottom of page */
footer > div:first-child {
    margin-bottom: auto;
    color: #FEFEFE;
}

/* dream journal and dream analyze buttons on profile page */
.profile-page-tab {
    margin-left: 2.1rem;
    margin-top: 2.1rem;
    font-family: 'Inter', sans-serif;
    border-radius: 25px;
    box-shadow: 2px 4px 2px #C2C2C2;
    border-color: #E4D8E9;
}

/* profile filter */
.filter-search {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

/* profile picture on profile page */
.profile-picture {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5rem;
}

/* profile form */
.enter-profile {
    margin-top: 5rem;
    margin-left: 5rem;
    display: inline-block;
}

/* profile bio header */
.profile-bio {
    margin-top: 4.85rem;
    margin-left: 7rem;
}

/* profile page bio content */
.dream-profile-container {
    display: flex;
    margin-left: 7rem;
    margin-bottom: 3.1%;
}

/* profile status buttons */
.profile-button {
    margin-left: 1.25rem;
    margin-top: 1rem;
    width: max-content;
}

/* profile status box */
.status {
    width: 12.5rem;
    height: 6.25rem;
}

/* dream analyze title */
.dream-analyze-subhead {
    font-family: 'Inter', sans-serif;
    margin-left: 5rem;
    margin-top: 5rem;
}

/* dream analyze spacing for subheaders */
.dream-analyze-feelings, .dream-analyze-type {
    margin-top: 2rem;
    margin-left: 6rem;
}

/* dream analyze subheader spacing */
.feeling, .type-dream {
    font-family: 'Inter', sans-serif;
    margin-left: 8rem;
    margin-top: 1.5rem;
    font-size: 20px;
}

/* dream analyze image */
.report-image {
    display: flex;
    width: 25rem;
    height: 25rem;
}

/* back button on dream analyze page */
.back-button {
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* journal writing layout */
.dream-entry-container {
    display: flex;
    justify-content: space-around;
}

/* journal writing input margins */
.enter-dream {
    margin-top: 2rem;
    margin-left: 5rem;
}

/* journal view button spacing */
.journal-button {
    margin-top: 2rem;
    margin-left: 2.5rem;
}

/* journal write feelings  */
.enter-dream-feelings {
    padding-top: 6.25rem;
    padding-left: 3.125rem;
}

/* journal write title input */
.title {
    width: 50%;
    height: 2.188rem;
}

/* journal write content input */
.content {
    width: 150%;
    height: 28.5rem;
}

/* journal write image size */
.image {
    width: 50%;
    height: 6.25rem;
}

/* feelings and type button on journal write */
.dream-button {
    margin-left: 0.5rem;
}

/* dream type spacing */
.dream-write-type {
    margin-top: 4rem;
}

/* journal write content buttons */
.dream-enter-btn {
    margin-top: 3rem;
    width: 4.375rem;
    margin-left: 0.625rem;
    font-size: 0.938rem;
}

/* journal write clear button */
.clear {
    margin-right: 40px;
}

/* single journal layout */
.single-journal {
    display: flex;
    justify-content: space-evenly;
}

/* single journal layout */
.single-journal-content {
    border-right: solid;
    border-color: #F5F3EC;
    width: 60%;
}

/* single journal title size */
.dream-title {
    margin: 5rem 5rem 2rem 5rem;
    font-family: 'Inter', sans-serif;
}

/* single journal content size and space */
.dream-content {
    padding-left: 5rem;
    padding-right: 7rem;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* single journal back button */
.back {
    display: block;
    width: 10rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* single journal image */
.dream-image {
    display: block;
    width: 20rem;
    height: auto;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

/* single journal feelings layout */
.single-journal-feelings {
    margin-top: 2.5rem;
    margin-left: 0rem;
    font-family: 'Inter', sans-serif;
}

/* single journal dream type layout */
.single-journal-type {
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
}

/* journal view card style */
.dream-entry-style {
    box-shadow: 2px 4px 2px #C2C2C2;
    width: 16rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 2rem;
}

/* journal entry title text style */
.card-title.h5 {
    font-size: 18px;
}

img.card-img-top {
    width: 100;
    height: 15rem;
}








/* main content */
/* .entry-container {
    margin-top: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.875rem;
    align-items: center;
} */

/* header {
    display: flex;
    font-size: 0.625rem;
} */

/* main content */
/* .like {
    display: inline;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
} */

/* body header */
/* a {
    color: #4C4C47;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    padding: 0rem 2rem 2rem 0rem;
    align-content: center;
} */

/* body header */
/* .material-icons {
    color: #4C4C47;
    font-size: 1.875rem;
    margin-inline: 0.469rem;
} */

/* body */
/* .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    align-items: center;
   
} */

/* main content */
/* .dreamPosts {
    display: flex;
    flex-wrap: wrap;
} */

/* body */
/* .container-right {
    display: flex;
    flex-grow: 0;
} */

 /* main */
/* .buttons {
    margin-top: 1.875rem;
} */

 /* navbar  */
/* nav, button {
    margin-top: 0.938rem;
} */

/* body */
/* button {
    background-color: #fff2cc;
    border: none;
    border-radius: 0.5rem;
    height: 1.725rem;
} */

/* body */
/* .logout {
    margin-right: 0.438rem;
    margin-left: 1.875rem;
} */

/* main content */
/* .dream-feeling {
    background-color: white;
    height: 9.375rem;
    width: 18.75rem;
    font-size: 0.75rem;
    margin-top: 1.875rem;
} */

/* footer */
/* .copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-family: 'Inter', sans-serif;
} */

/* body header */
/* .material-icons:hover {
    padding-bottom: 0.063rem;
    border-bottom: .2rem solid #4C4C47;
} */

/* div button content */
/* button:hover{
    text-decoration: underline;
    color: #4C4C47;
    font-size: 0.938; 
} */

/* main content */
/* input {
    display: block;
    margin-left: 2.5rem;
    margin-bottom: 1.875rem;
} */

  /* body content */
/* button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
    font-family: 'Shantell Sans', cursive;
    color: #4C4C47;
    font-size: 1.4rem;
} */

/* dream community post icon */
/* .user-name.material-icons {
    color: #4C4C47;
    font-size: 2.8rem;
    margin-inline: 0.469rem;
} */

/* dream community post icons */
/* .post-icon .material-icons {
    font-size: 1.8rem;
} */

/* body header */
/* h1.website-title {
    font-size: 3rem;
    margin: 0;
    padding-top: 1.2rem;
    padding-left: 2rem;
    font-family: 'Katibeh', cursive;   
} */

/* body content */
/* h2, button, label, p {
    font-family: 'Nunito', sans-serif;
    color: #4C4C47
} */

/* main content */
/* h2 {
    padding-left: 5rem;
    padding-top: 40px;
    font-size: 20px;
    font-weight: normal;
} */

/* main content */
/* h3 {
    padding-left: 6rem;
    font-size: 16px;
    font-weight: normal;
    color: #adadad;
    font-family: 'Nunito', sans-serif;
} */

/* main content */
/* h4 {
    padding-left: 5rem;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: normal;
    color: black;
    font-family: 'Nunito', sans-serif;
} */

/* main content */
/* .material-icons {
    font-size: 4.688rem;
    color: wheat;
} */

/* main content */
/* .analyze img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

/* main content */
/* .analyze-btn {
    font-size: 1.375rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    text-align: center;
    text-decoration: none;
} */

/* main content */
/* .analyze-btn:hover {
    text-decoration: underline;
} */

/* main content */
/* .sharing-side .material-icons {
    color: white;
} */

/* profile page */
/* .change-btn {
    margin-left: 5px;
} */

/* main content */
/* button, .entry, input, .analyze img, .post, .post-content img, .create-post, .dream-feeling {
    box-shadow: 0.063rem 0.188rem rgba(0,0,0,0.16), 0.063rem 0.188rem rgba(0,0,0,0.23);
    border-radius: 0.5rem;
} */

/* .new {
    box-shadow: none;
}

.new:hover {
    text-decoration: none;
} */

/* main content */
/* .post, .create-post {
    background-color: white;
    width: 40rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 0.625rem;
} */

/* main content */
/* .post .material-icons {
    margin-bottom: 1.25rem;
} */

/* main content */
/* .user-name {
    display: inline;
    margin-top: none;
} */

/* main content */
/* .post-text {
    margin-left: 1.875rem;
    width: 90%;
} */

/* main content */
/* .post-icon {
    margin-left: 70%;
    margin-right: none;
} */

/* main content */
/* .post-content {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
} */

/* main content */
/* .create-post {
    width: 28.125rem;
    height: 28.125rem;
} */

/* main content */
/* .content-create {
    width: 81%;
    height: 9.375rem;
    background-color: #F5F3EC;
} */

/* main content */
/* .image-create {
    width: 60%;
    background-color: #F5F3EC;
    height: 6.25rem;
} */

/* main content */
/* .post-btn {
    width: 3.125rem;
    background-color: #F5F3EC;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 0.938rem;
} */


/* section .home-container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}   */

/* journal write image -- affects icon needs new class name
div img {
    height: 15.625rem;
    width: 15.625rem;
} */

/* main content */
/* .entry img {
    display: none;
} */

/* main content */
/* .entry {
    display: block;
    background-color: white;
    margin: .5rem;
    border-radius: 0.625rem;
    text-align: center;
} */

/* main content */
/* .container-but {
    background-color: white;
    box-shadow: none;
    border-radius: none;
    margin-top: 0;
    margin-bottom: 0;
    height: fit-content;
    width: fit-content;
} */

/* smaller phones */
/* @media (min-width: 598px) { */
    /* body header */
    /* .logo {
        max-width: 3.5rem;
        max-height: 3.5rem;
        padding-left: 0.188rem;
    } */

    /* journal image */
    /* .entry img {
        display: block;
    } */
   
    /* dream community post box size */
    /* .post {
        width: 44.625rem;
    } */

    /* body content */
    /* button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
        font-size: 1rem;
    } */

    /* main content */
    /* h2 {
        padding-left: 5rem;
        padding-top: 40px;
        font-size: 20px;
        font-weight: normal;
    } */

    /* main content */
    /* .report-container h1 {
        padding-left: 1.25rem;
        font-size: 1.2rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    } */

    /* dream community post icon */
    /* .user-name.material-icons {
        color: #4C4C47;
        font-size: 2.1rem;
        margin-inline: 0.469rem;
    } */

    /* dream community post icons */
    /* .post-icon .material-icons {
        font-size: 1.4rem;
    } */

    /* dream stats */
    /* .report-content p {
        font-size: 1rem;
    } */

    /* community create post */
    /* form.create-post {
        width: 34.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    } */

/* } */

/* tablet size */
/* @media (min-width: 768px) { */

    /* body content */
    /* div.home-container section {
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }   */
    
    /* main content */
    /* .report-container {
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
    } */

     /* main content */
     /* .report-image {
        display: block;
    } */
    
    /* dream community post box size */
    /* .post {
        width: 44.625rem;
    } */

     /* body header */
     /* .logo {
        max-width: 4.375rem;
        max-height: 4.375rem;
        padding-left: 0.188rem;
    } */

    /* body content */
    /* button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
        font-size: 1.1rem;
    } */

    /* header content */
    /* .website h1 {
        font-size: 2.75rem;
        margin-top: 0.438rem;
        margin-left: 0.375rem;
        font-family: 'Rubik Puddles', 'Raleway', sans-serif, cursive;
        line-height: 2.2rem;
        color: #4C4C47;
    } */

    /* main content */
    /* h2 {
        padding-left: 5rem;
        padding-top: 40px;
        font-size: 20px;
        font-weight: normal;
    } */

    /* main content */
    /* .report-container h1 {
        padding-left: 1.25rem;
        font-size: 1.5rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    } */

    /* dream community post icon */
    /* .user-name.material-icons {
        color: #4C4C47;
        font-size: 2.1rem;
        margin-inline: 0.469rem;
    } */

    /* dream community post icons */
    /* .post-icon .material-icons {
        font-size: 1.5rem;
    } */

    /* dream stats */
    /* .report-content p {
        font-size: 1.1rem;
    } */
/* } */

/* desktop size */
/* @media (min-width: 992px) { */
    /* main content */
    /* .dream-entry-container {
        display: flex;
        justify-content: space-between;
    } */

    /* main content */
    /* .title {
        width: 31.25rem;
        height: 2.188rem;
    } */

    /* main content */
    /* .content {
        width: 42.5rem;
        height: 28.125rem;
    } */

    /* main content */
    /* .image {
        width: 21.875rem;
        height: 6.25rem;
    } */
    
    /* main content */
    /* .enter-dream-feelings {
        padding-left: none;
    } */

    /* main content */
    /* .view-create {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    } */

    /* dream community create post */
    /* .create-post {
        margin-top: 1.5rem;
    } */

    /* body header */
    /* .logo {
        max-width: 5.625rem;
        max-height: 5.625rem;
        padding-left: 0.313rem;
    } */

    /* body content */
    /* button, label, p, .enter-dream-feelings, .user-name, .post-text, .dream-enter-btn, .post-btn {
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
        font-size: 1.1rem;
    } */

    /* header content */
    /* .website h1 {
        font-size: 3rem;
        margin-top: 0.438rem;
        margin-left: 0.375rem;
        font-family: 'Rubik Puddles', 'Raleway', sans-serif, cursive;
        line-height: 2.4rem;
        color: #4C4C47;
    } */

    /* main content */
    /* h2 {
        padding-left: 5rem;
        padding-top: 40px;
        font-size: 20px;
        font-weight: normal;
    } */

    /* main content */
    /* .report-container h1 {
        padding-left: 1.25rem;
        font-size: 2.1rem;
        font-weight: normal;
        font-family: 'Shantell Sans', cursive;
        color: #4C4C47;
    } */

     /* body header */
     /* .material-icons {
        color: #4C4C47;
        font-size: 2.5rem;
        margin-inline: 0.469rem;
    } */

    /* dream community post icons */
    /* .post-icon .material-icons {
        font-size: 1.9rem;
    } */

    /* dream stats */
    /* .report-content p {
        font-size: 1.2rem;
    } */

    /* community create post */
    /* form.create-post {
        width: 30rem;
        margin-left: 1rem;
        margin-right: 1rem;
    } */
    
    /* community posts */
    /* .post {
        width: 47rem;
    } */
/* } */